$accent-color: #e74c3c;
$content-width: 800px;

body{
  
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
.my-editor-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  text-align: center;
  min-height: 100vh;
  overflow: hidden; /* Hide the overflow to prevent scroll bars */
  .ck.ck-content:not(.ck-comment__input *) {
    height: 500px;

  }
  
  .nav {

    padding: 20px;
    width: 100%;
  }

  main {
    margin-top: 4px;
    width: $content-width;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Hide the overflow to prevent scroll bars */

    .editor-wrapper {
      .ck.ck-content:not(.ck-comment__input *) {
        height: 400px;
        overflow-y: auto;
      }
      
    }
  }
 
.footer {
    color: #ffff;
    padding: 20px;
    text-align: center;
    font-weight: 900;
  }
}

.publish-button .btn{
  width: 130px;
  height: 40px;
  font-weight: 500;
  background: rgba(255, 255, 255, 0.4);
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: .3s ease;
}

.btn.publish-btn{
  background: steelblue
}
.btn.btn.publish-btn:hover{
  background: rgba(121, 102, 102, 0.5);
}

$primary: #fff;
$secondary: #ffff;
$white: #fff;
$gray: #fff;
.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .form__label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}

.form__field{
  &:required,&:invalid { box-shadow:none; }
}
